* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefae7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 80%;
  display: flex;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 10%;
  font-size: xx-large; 
  display: flex; 
  gap: 3px  ;
}
.logo  > i  {
  color: #f95700;
}
.top-contents {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  gap: 10px;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  align-items: center;
  width: 90%;
}

.login-signup {
  width: 45%;
}
.login-signup > button {
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
}
.login-signup > button:first-child {
  background-color: transparent;
  border: 3px solid #f95700;
  color: #000;
}
.login-signup > button:nth-child(2) {
  background-color: transparent;
  border: 3px solid #f95700;
  background-color: #f95700;
  color: white;
}

main {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invite-only {
  color: white;
  font-weight: 800;
  padding: 7px;
  background-color: #f95700;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.main-h2 {
  text-align: center;
  width: 45%;
}

.skyrocket {
  width: 80%;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}
.skyrocket > h1 > span {
  color: #f95700;
}

.hero {
  display: flex;
  width: 90%;
    justify-content: space-around; 
  margin-top: 40px;

}

.video-div  { 
    background-color: #000;
    height: 200px; 
    position: relative;
    border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    
}
.video-div > i { 
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 2;


}
.para-video  {
  background-color: #f95700;
  padding: 5px;
  padding-left: 10px;
  
  padding-right: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.para-video >   p { 
  font-size: small;
  color: white;
}
.hero-left { 
  padding: 2px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center; 

}
.bullet-points { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bullet-point  {
  display: flex;
  gap: 6px;
  padding: 15px;
}
.page1-footer { 
  display: flex;
  flex-direction:column;
  justify-content: center; 
  align-items:center;
  margin: 20px;
  width: 50%;
}
.page1-footer > div > h4  { 
  font-size:large;
  text-align: center;


}
.simple-way  { 
  width: 60%;
  font-weight: 600;
}





.page1-footer { 
  gap: 15px;
}
.scale-your-etsy {
  display: flex; 
  width: 80%; 
  justify-content: space-around; 

  align-items: center;

}
.scale-your-etsy > div { 
  font-weight: 900;
  font-size: 50px;
  
}
.scale-your-etsy > div > button  { 
  padding: 20px ; 
  padding-left: 40px;
  padding-right: 40px;
  font-size: x-large;
  font-weight: 900;
  background-color: #f95700;
  color: white;
  border: none ; 
  border-radius: 10px ;
  
  
}
.buy-once  { 
  display: flex ; 
  gap: 3px;
  font-size: small;
}
.buy-once > div > i  { 
  color: #f95700;
}
.page2  { 
  width: 100%;
  background-color: white;
  padding: 100px ;
}

.page2-innerdiv {  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fefae7;
  padding: 40px;
  
}

.page2-upperdiv  { 
  display: flex; 
  padding: 50px;
  justify-content: center;
  align-items: center;


}
.avatar-to {
  display: flex;
  padding: 3px;
  gap: 10px;
} 
.avatar-to > div > img { 
  
  width: 50px;
  border: 2px solid #f95700;
  border-radius: 100%;
  mix-blend-mode: darken;
}
.avatar-to-para { 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.page2-upperdiv-leftdiv { 
   display: flex;
  flex-direction: column; 
  gap: 20px;
  padding-left: 10px;
}
.page2-upperdiv-leftdiv > div >  span { 
  font-weight: 900;
}

.list-seo {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.list-seo > div  {
  display: flex;
  gap: 10px;


}
.page2-lowerdiv{ 
  display: flex; 
  padding: 50px;
  justify-content: center;
  align-items: center;
}



.page2-lowerdiv-leftimg > img {
   height: 300px;
}


.page3-outerdiv  { 
  padding: 70px;
  width: 100%;
  background-color: white; 

}
.page3-innerdiv { 
  --dot-bg: white;
    --dot-color: rgb(228, 222, 222);
    --dot-size: 3px;
    --dot-space: 10px;
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color); 
  display: flex ; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  padding: 30px;
  border-radius: 20px;
}

.page3-hadding {
   font-size: xx-large;
}
.page3-hadding > h1 > span { 
  color: #f95700;
}

.blocks {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 10px;
  font-size: small;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;

}

.inner-blocks { 

  display: flex; 
  gap: 100px;
  justify-content: center ; 
  align-items: center;
  width: 75%;
  padding: 10px;

}
.block {
  
  /* background-color: #ddc443; */
  padding: 30px; 
  /* height: 120px; */
   border: 2px solid #f95700 ;
   border-radius: 10px;
  position: relative;
  width: 30%;
  box-sizing: border-box;
  padding-top: 40px;
  position: relative;
  font-weight: 600;
  text-align: center;

  
}

.icons {
  display: flex; 
  justify-content: center; 
  align-items: center;
    width: 40px;
    height: 40px;
   background: white;
   border-radius: 100%; 
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   position: absolute;
   top: -19px;
   left: 40%;
}

.arrow { 
  position: absolute; 
  right: -70px;
  z-index: 10;
}


.box .group {
  position: absolute;
  top: 170px;
  left: 20%;
  z-index: 99;
  width: 85%;
  height: 225px;
  transform: translateY(-100px);
  transform: translateX(-170px);
  /* background-color: pink; */

}

@media screen and (min-width: 1732px ) and (max-width:2000px) {
  .box .group {
    position: absolute;
    top: 160px;
    left: 20%;
    z-index: 99;
    width: 85%;
    /* background-color: rgb(68, 129, 81); */
    height: 225px;
  
  }
}

@media screen and (min-width: 1400px  ) and (max-width:1732px) {
  .box .group {
    position: absolute;
    top: 170px;
    left: 22%;
    z-index: 99;
    width: 85%;
    /* background-color: rgb(219, 147, 53); */
    height: 225px;
 
  
  }
}
@media screen and (min-width: 1174px  ) and (max-width:1400px) {
  .box .group {
    position: absolute;
    top: 170px;
    left: 25%;
    z-index: 99;
    width: 85%;
    /* background-color: rgb(219, 147, 53); */
    height: 225px;
 
  
  }
}
@media screen and (min-width: 300px  ) and (max-width:1174px) {
  .box .group {
      display: none;
  }
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .arrow { 
    display: none;
  }
  .inner-blocks {
    gap: 20px;
    flex-direction: column;
  }
  .page2-upperdiv { 
    flex-direction: column-reverse;
  }
  .page2-lowerdiv { 
    flex-direction: column;
  }
  .block {
   width: 300px ;
  }
  .top-contents { 
    display: none;
  }
  nav {
    display: flex   ;
    justify-content: space-between;
    width: 100%;
  }
  .nav-right {
    position: relative;

  }
  .login-signup { 
    display: flex; 
    justify-content: flex-end;
    position: absolute;
    right: 0;
    gap: 4px;

  }
  main { 
    padding: 3px;
  }
  .main-h2 { 
    width: 80%;
    font-size: small;
  }
  .skyrocket  {
    font-size: medium;
    width: 92%;
    text-align: center;
    padding: 0;
  }
  .bullet-points{ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero { 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .simple-way {
    width: 90%;
    padding: 0;
  }
  .page1-footer {
    padding: 0;
    margin: 0;
  }
  .scale-your-etsy { 
    width: 100%; 
    padding: 0;
    margin: 0;
    gap: 3px;
    width: 350px;
    align-items: center; 
    justify-content: center; 

  }
  .scale-your-etsy > div > button  {
    padding: 2px; 

  }
  .scale-your-etsy > div > i {
    font-size: xx-large;
  }
  .buy-once {
    flex-direction: column;
  }
  .page2 { 
    padding: 20px;
  }
}